<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- ADD: parameters
				aiding
				user_name-->
  <!-- if aiding = true call this node, else call another ADD HERE-->
	<!-- start data_logger subscriber node -->
  <node name="data_logger" pkg="my_data_logger_pkg" type="data_logger_noUR5_sub.py" cwd="node" />

</launch>
